{
  "printWidth": 120,
	"arrowParens": "always",
	"semi": true,
	"useTabs": true,
	"tabWidth": 2,
	"bracketSpacing": false,
	"singleQuote": true,
	"trailingComma": "all",
	"overrides": [
		{
			"files": [".prettierrc", ".eslintrc"],
			"options": {
				"parser": "json"
			}
		}
	]
}